* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #242424;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
}

ul,
li {
  list-style: none;
}

img {
  object-fit: cover;
  width: 100%;
}

section {
  padding: 72px 0;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 15px;
  }
}

a {
  text-decoration: none;
  color: #242424;
  display: inline-block;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

small {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.h1 {
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.h2 {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.h4 {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

hr {
  background-color: #e0e0e0;
  height: 1px;
  border: none;
  margin: 32px 0;
}

/* background */

.bg-dark {
  background-color: #515151;
}

.bg-gray {
  background-color: #f4f4f4;
}

.bg-gray-light {
  background-color: #f1f1f1;
}

.bg-light {
  background-color: #ffffff;
}

/* text style */

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.text-low {
  color: #b4b4b4;
}

.text-light {
  color: #ffffff;
}
/* align */
.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/* spacing */

.mb-56 {
  margin-bottom: 56px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-0 {
  margin-bottom: 0px;
}

.p-0 {
  padding: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}
/* corner */
.corner-6 {
  border-radius: 6px;
}

.corner-circle {
  border-radius: 50%;
}

/* overflow */

.overflow-hidden {
  overflow: hidden;
}

/* layout */
.grid {
  display: grid;
}

.grid-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 992px) {
  .grid-mb-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-mb-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.grid-gap-30 {
  grid-gap: 30px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-gap-30 {
  column-gap: 30px;
}

.flex-gap-8 {
  column-gap: 8px;
}

/* button */

.btn {
  display: inline-flex;
  padding: 12px 16px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.btn-dark {
  background: #424242;
  color: #ffffff;
}

.btn-light {
  background: #ffffff;
  color: #242424;
}

.btn-outline {
  background: #424242;
  color: #242424;
}

.tag {
  display: flex;
  padding: 4px 8px 2px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 14px;
}

.header-top {
  padding: 50px;
}

.header-bottom .menu-lv1 {
  position: relative;
}

.header-bottom .menu-lv1:hover .menu-sub {
  visibility: visible;
  z-index: 1;
  opacity: 1;
}

.header-bottom .menu-lv1 .menu-sub {
  position: absolute;
  left: 0;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 30px;
  min-width: fit-content;
}

.header-bottom .menu-item {
  padding: 8px 30px;
}

.header-bottom .menu-item:hover {
  background: #424242;
  color: #ffffff;
  border-radius: 3px;
}

.banner {
  padding-top: 100px;
  padding-bottom: 100px;
}

.banner-content {
  width: 429px;
}

@media (max-width: 768px) {
  banner-content {
    width: 100%;
  }
}

.countdown-timer--item {
  width: 80px;
  height: 80px;
}
